:root {
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --dark-gray: hsl(0, 0%, 48%);
    --light-gray: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Commissioner', sans-serif;
    background-color: var(--light-gray);
    background-image: url('./images/image-hero-desktop.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    padding: 3.25rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.navbarlinks {
    display: flex;
}

.navbarlinks a {
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
}

.block {
    position: relative;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 3rem;
    background-color: white;
    border-radius: 0.4rem;
    width: 50%;
}

.toplogo {
    position: absolute;
    top: -24px;
    z-index: 100;
}

.row {
    display: flex;
    width: 100%;
}

.row.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.row.space-around {
    justify-content: space-around;
}

h1 {
    margin: 1rem 0;
    font-weight: 700;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--moderate-cyan);
}

h4 {
    margin-bottom: 1rem;
    color: var(--dark-gray);
    font-size: 14px;
    font-weight: 400;
}

p {
    margin: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--dark-gray);
    font-weight: 500;
}

.center {
    text-align: center;
}

.word-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-segement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 50px;
    border: 1px solid var(--light-gray);
}

.button {
    border: 0px;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    background-color: var(--moderate-cyan);
    color: white;
    font-weight: 700;
}

.button:hover {
    background-color: var(--dark-cyan);
    cursor: pointer;
}

.button.disabled {
    background-color: var(--dark-gray);
}

.inner-block {
    border: 2px solid var(--light-gray);
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 0.5rem;
}

.inner-block.disabled {
    filter: opacity(0.5);
}

.inner-block.selected {
    border: 2px solid var(--moderate-cyan);
}

.button.icon {
    position: relative;
    display: flex;
    padding-left: 4rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.button .icon {
    left: 0;
    height: 47px;
    position: absolute;
}

.button.icon.on {
    color: var(--moderate-cyan);
}

.button.icon.on .icon {
    content: url('./images/icon-bookmark-on.svg');
}

.button.value {
    border: 2px solid var(--light-gray);
    background-color: white;
    color: var(--dark-gray);
}

.button.value:hover {
    border: 2px solid var(--moderate-cyan);
}

.button.value>input {
    border: 0;
    font-weight: 700;
}

.progress {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 0.875rem;
    border-radius: 0.5rem;
    background-color: var(--light-gray);
}

.progress::after {
    position: absolute;
    content: "";
    width: 89%;
    height: 0.875rem;
    border-radius: 0.5rem;
    background-color: var(--moderate-cyan);
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    font-size: 0.8rem;
}

.modal-content {
    position: relative;
    margin: 10% auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: white;
    border-radius: 0.4rem;
    width: 50%;
}

.x {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
}

.x:hover {
    cursor: pointer;
}

.radio {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid var(--dark-gray);
    border-radius: 50%;
    background-color: white;
}

.radio.selected {
    border: 2px solid var(--moderate-cyan);
}

.radio.selected::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 70%;
    border-radius: 50%;
    top: 15%;
    left: 15%;
    background-color: var(--moderate-cyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.pledge {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 2px solid var(--light-gray);
    padding-top: 1rem;
}

.pledge.selected {
    display: flex;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: contain;
        background-image: url('./images/image-hero-mobile.jpg');
    }

    .hamburger {
        display: block;
    }

    .navbar {
        padding: 1.5rem 1rem;
        flex-wrap: wrap;
    }

    .navbarlinks {
        margin-top: 1rem;
        display: none;
        background-color: white;
        border-radius: 1rem;
        width: 100%;
    }

    .navbarlinks a {
        display: block;
        font-size: 1.2rem;
        color: black;
    }

    .navbarlinks a:not(:last-child) {
        border-bottom: 1px solid var(--light-gray);
    }

    .block {
        padding: 1.5rem;
        width: 80%;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.5rem;
    }

    .line {
        height: 0;
        width: 50px;
    }

    .button.icon {
        padding-left: 0;
    }

    .inner-block .button {
        display: block;
    }

    .modal-content {
        width: 70%;
    }

    .row.space-around {
        flex-direction: column;
    }

    .desktop-only {
        display: none;
    }
}